{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div class="container my-3">
    <h2 class="text-center">ClusterMania</h2>
    <h3 class="text-center mb-3">
        Train and test your own personal model using a clustering machine learning algorithm! Choose an option below.
    </h3>
    <div class="text-center mb-4">
        <img class="img-fluid" src="images/clusters.png" alt="Clusters Image" style="max-width: 300px; height: auto;">
    </div>

    <div class="d-flex flex-column align-items-center">
        <a href="{% url 'upload_model' %}" class="btn btn-primary mb-2">Upload Model</a>
        <a href="{% url 'test_model' %}" class="btn btn-success">Test Model</a>
    </div>
</div>

{% else %}

<!-- Login Page -->

<div class="container mt-5 pt-5">
    <div class="col-12 col-md-6 col-lg-4 m-auto">
        <div class="card border-0 shadow">
            <div class="card-body text-center">
                <svg class="mx-auto my-3" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
                <form method="POST" action="{% url 'home' %}">
                    {% csrf_token %}
                    <input type="text" name="username" class="form-control my-4 py-2" placeholder="Username" required/>
                    <input type="password" name="password" class="form-control my-4 py-2" placeholder="Password" required/>
                    <div class="text-center mt-3">
                        <button class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
