{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center ms-3" href="{% url 'home' %}" style="font-size: 28px;">
        <img src="{% static 'images/clusterlogo.png' %}" alt="Logo" style=" height: auto; width: 55px;" class="d-inline-block align-text-top">
        <span class="ms-2">ClusterMania</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center" style="font-size: 20px;">
          {% if user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Login</a>
              </li>
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>